html, body {
  margin: 10px;
  padding: 0.5em;
}


* {
  box-sizing: border-box;
  font-family: Helvetica;
}

/*responsive columns suddivision*/

/* Create two equal columns that floats next to each other*/
.column1 {
  float: left;
  width: 33,3%;
  padding-top: 40px;
}

.image {
  float: left;
  width: fit-content;
  height: auto;
}

/* Clear floats after the columns*/
.row1:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other
@media screen and (max-width: 750px) {
  .column1 {
    width: 100%;
  }
}

/*header*/
.headerActive1 {
  color: white;
  mix-blend-mode: difference;
  font-size: 40px;
  font-weight: bold;
  text-decoration: none;
  position: sticky;
  top: 0.5em;
  width: 100%;
}

.headerInactive1 {
  -webkit-text-stroke: 1px white;
  color: black;
  mix-blend-mode: difference;
  font-size: 40px;
  font-weight: bold;
  text-decoration: none;
  position: sticky;
  top: 0.5em;
  left: 380px;
  width: 100%;
}

.headerInactive1:hover {
  -webkit-text-stroke: 0px white;
  color: white;
}

.headerActive2 {
  color: white;
  mix-blend-mode: difference;
  font-size: 40px;
  font-weight: bold;
  text-decoration: none;
  position: fixed;
  left: 380px;
  top: 0.5em;
  width: 100%;
}

.headerInactive2 {
  -webkit-text-stroke: 1px white;
  color: black;
  mix-blend-mode: difference;
  font-size: 40px;
  font-weight: bold;
  text-decoration: none;
  position: fixed;
  top: 0.5em;
  width: 100%;
}

.headerInactive2:hover {
  -webkit-text-stroke: 0px white;
  color: white;
}

/*body*/
.title {
  font-size: 100px;
  line-height: 30%;
}

h1 {
  font-size: 40px;
  font-weight: normal;
  line-height: 43px;
}

h2 {
  font-size: 25px;
  text-align: left;
  line-height: 28px;
  font-weight: normal;
}

p {
  font-size: 25px;
  line-height: 28px;
}

/*buttons*/
.button {
  background-color: white;
  border: 1.5px solid black;
  text-decoration: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  font-size: 15px;
  
  cursor: pointer;
}

.button:hover {
  background-color: black;
  border: 1.5px solid black;
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  font-size: 15px;
  cursor: pointer;
}

/*index.html boxes*/
.box1 {
  padding-top: 10px;
  width: 70%;
  margin-top: 30px;
}

#box2 {
  width: 70%;
  margin-top: -1.5px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  border: 1.5px solid black;
}

.buttonGen {
  margin-top: 30px;
  padding-top: 0px;
  padding-left: 20px;
  padding-bottom: 0px;
  padding-right: 20px;
  background: white;
  border: 1.5px solid black;
  color: black;
  font-size: 25px;
  line-height: 28px;
  text-align: left;
}

.buttonGen:hover {
  margin-top: 30px;
  padding-top: 0px;
  padding-left: 20px;
  padding-bottom: 0px;
  padding-right: 20px;
  background: black;
  border: 1.5px solid black;
  color: white;
  font-size: 25px;
  line-height: 28px;
  text-align: left;
}

/*archivio*/
div.gallery {
  margin-top: 40px;
}

div.gallery img {
  width: 100%;
  height: auto;
  padding-right: 20px;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 768px) {
  div.gallery img {
    padding-right: 20px;
  }
  
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 600px) {
  div.gallery img {
    padding-right: 0px;
  }

  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}





/*makes things responsive*/
/* Medium (tablet, 768px and down) */
@media only screen and (max-width: 768px) {
  .box1 {
    width: 100%;
  }
  #box2 {
    width: 100%;
  }

  .buttonGen {
    text-align: left;
  }

  .buttonGen:hover {
    text-align: center;
  }


}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .box1 {
    width: 100%;
  }
  #box2 {
    width: 100%;
  }

  .buttonGen {
    text-align: left;
  }

  .buttonGen:hover {
    text-align: center;
  }

  .headerActive1 {
    font-size: 30px;
  }

  .headerInactive1 {
    font-size: 30px;
    left: 290px;
  }

  .headerActive2 {
    font-size: 30px;
    left: 290px;
  }

  .headerInactive2 {
    font-size: 30px;
  }

  h1 {
    font-size: 30px;
    line-height: 33px;
  }

  h2 {
    font-size: 17px;
    line-height: 19.5px;
  }

  p {
    font-size: 17px;
    line-height: 19.5px;
  }
}