html, body {
  padding: 0.2em;
}


* {
  box-sizing: border-box;
  font-family: Helvetica;
}

/*header*/
.test {
  flex-direction: column;
  display: flex;
}

.headerActive1 {
  color: #000000;
  font-size: 1.2em;
  line-height: 1.3;
  font-weight: bold;
  text-decoration: none;
  text-decoration: underline;
  position: sticky;
}

.headerInactive1 {
  color: black;
  font-size: 1.2em;
  line-height: 1.3;
  font-weight: normal;
  text-decoration: none;
  text-decoration: underline;
  position: sticky;
}

.headerInactive1:hover {
 font-weight: bold;
}

.headerActive2 {
  color: white;
  font-size: 1.2em;
  line-height: 1.3;
  font-weight: bold;
  text-decoration: none;
  text-decoration: underline;
  position: sticky;
}

.headerInactive2 {
  color: white;
  font-size: 1.2em;
  line-height: 1.3;
  font-weight: normal;
  text-decoration: none;
  text-decoration: underline;
  position: sticky;
}

.headerInactive2:hover {
 font-weight: bold;
}

/*body1*/
span {
  color: grey;
  font-size: 0.9em;
  line-height: 1.3;
}

a {
  color: black;
  text-decoration: none;
  font-size: 0.9em;
  line-height: 1.3;
}

h1 {
  font-size: 1.2em;
  line-height: 1.3;
  text-align: left;
  font-weight: normal;
}

h2 {
  font-size: 0.9em;
  line-height: 1.3;
}

h3 {
  font-size: 0.9em;
  line-height: 1;
  font-weight: normal;
  color: black;
  text-decoration: underline;
  display: inline;
  cursor: pointer;
}

h3:hover {
  font-size: 0.9em;
  line-height: 1;
  font-weight: bold;
  text-decoration: underline;
}

p {
  font-size: 0.9em;
  line-height: 1.3;
}

.aLink{
  font-size: 0.9em;
  line-height: 1;
  font-weight: normal;
  color: black;
  text-decoration: underline;
  display: inline;
  cursor: pointer;
}

.aLink:hover {
  font-size: 0.9em;
  line-height: 1;
  font-weight: bold;
  text-decoration: underline;
}

/*body2*/
#black {
  color: white;
}

/*AUDIO PLAYER*/
audio {
  width: 100%;
  height: 20px;
  margin-top: -5px;
  margin-bottom: -6px;
}

audio::-webkit-media-controls-panel {
background-color: white;
padding-left: 0%;
padding-right: 0%;
}

audio::-webkit-media-controls-play-button-hover {
  display: none!important;
}

audio::-webkit-media-controls-timeline-container{
  display: none !important;
}

audio::-webkit-media-controls-timeline{
  display: none!important;
  pointer-events: none;
}

audio::-webkit-media-controls-volume-slider-container {
  display: none!important;
}

audio::-webkit-media-controls-volume-slider {
  display: none!important;
}

audio::-webkit-media-controls-volume-control-hover-background {
  display: none!important;
}

audio::-webkit-media-controls-volume-control-hover-background {
  display: none!important;
}

audio::-webkit-media-controls-volume-control-container { 
  display: none; 
}

audio::-webkit-media-controls-mute-button {
  display: none!important;
}


audio::-webkit-media-controls-time-remaining-display {
  display: none!important;
}

/*GRIGLIA IMMAGINI*/
.grid-container {
  display: inline-grid;
  grid: auto / 22% 22% 22% 22%;
  grid-column-gap: 4%;
  grid-row-gap: 4%;
  row-gap: 15px;
  width: 100%;
}


.grid-container > .grid-item{
  column-gap: 20px;
  row-gap: 20px;
}

.grid-item > figure {
  margin: 0px;
}

.grid-item > figure > img {
  width: 100%;
  -webkit-filter: grayscale(1);
  margin-top: 0px;
}

.grid-item > figure > img:first-child {
  width: 100%;
  -webkit-filter: grayscale(1);
  margin-top: 10px;
}


.grid-item > figure > img:hover {
  width: 100%;
  -webkit-filter: none;
}


/*GRIGLIA INDEX*/
.grid-container1 {
  padding-top: 1em;
  display: inline-grid;
  grid: auto / 22% 22% 22% 22%;
  grid-column-gap: 4%;
  grid-row-gap: 4%;
  row-gap: 15px;
  width: 100%;
}

.grid-container1 > .grid-item1{
  column-gap: 20px;
  row-gap: 20px;
}

.grid-item1 {
  margin: 0px;
  width: 100%;
}

/*GRID INSIDE GRID*/
.grid-container2 {
  display: inline-grid;
  grid: auto / 20% 80%;
  grid-column-gap: 4%;
  grid-row-gap: 4%;
  width: 100%;
}

.grid-container2 > .grid-item1{
  column-gap: 20px;
  row-gap: 20px;
}

.grid-item2 {
  margin: 0px;
  width: 100%;
}

.box {
 width: 74%;
}

.borderTop {
  border-top: 0.7px solid white;
}

/*makes things responsive*/
/* Medium (tablet, 768px and down) */
@media only screen and (max-width: 1080px) {
  .grid-container {
    display: inline-grid;
    grid: auto / 47.5% 47.5%;
    grid-column-gap: 5%;
    grid-row-gap: 5%;
    row-gap: 15px;
    width: 100%;
  }

  .grid-container1 {
    display: inline-grid;
    grid: auto / 47.5% 47.5%;
    grid-column-gap: 5%;
    grid-row-gap: 5%;
    row-gap: 15px;
    width: 100%;
  }

  .box {
    width: 100%;
   }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 700px) {
  .grid-container {
    display: inline-grid;
    grid: auto / 100%;
    grid-column-gap: 5%;
    grid-row-gap: 5%;
    row-gap: 15px;
    width: 100%;
  }

  .grid-container1 {
    display: inline-grid;
    grid: auto / 100%;
    grid-column-gap: 5%;
    grid-row-gap: 5%;
    row-gap: 15px;
    width: 100%;
  }

  .box {
    width: 100%;
   }
}